language: php

sudo: false

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7
  - hhvm

env:
  - SYMFONY_VERSION=locked # Use the versions that are given in composer.lock.
  - SYMFONY_VERSION="2.3.*"
  - SYMFONY_VERSION="2.4.*"
  - SYMFONY_VERSION="2.5.*"
  - SYMFONY_VERSION="2.6.*"

before_script:
  - travis_retry curl -s http://getcomposer.org/installer | php
  - travis_retry php composer.phar install
  # Register a specific Symfony version if necessary...
  - sh -c "if [ '$SYMFONY_VERSION' != 'locked' ]; then php composer.phar require --dev --no-update symfony/symfony:${SYMFONY_VERSION}; fi"
  # ... and update the dependencies accordingly.
  - travis_retry sh -c "if [ '$SYMFONY_VERSION' != 'locked' ]; then php composer.phar update --dev symfony/*; fi"
  - mkdir -p build/logs

script:
  - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
  - php vendor/bin/coveralls

matrix:
  allow_failures:
    - php: 7
    - php: hhvm

notifications:
  hipchat:
    rooms:
      secure: U5zi3jZwy8qzO/fgBD4EhwDG3OoslwHDUfVamvtaScGq3R7FF0XkAY243l4+/5KKy30ON0fD9xkfVV+QJtnX/hMzFmWU1OOcr7hHrsEYf7U6DRll4qTiIMN5WfHoYwRxKEM1PAPMjJTrbcvXCDKcrFIENaGEk3srvv34NgWCyo4=
